Repository yujinyuz/drf-sensible: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files
      - id: requirements-txt-fixer

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types: [python]
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: "models.py"
        types: [python]
        pass_filenames: false
        language: system

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
      - id: black

Add users endpoint
  api/urls.py
  conf/settings/base.py
  conf/urls.py
  users/apis.py
  users/filters.py
  users/services.py
  users/urls.py
Due: django-check

Add AuthMixin
  api/mixins.py
  conf/settings/base.py
Due: django-check

Add /users/me endpoint
  users/apis.py
  users/services.py
  users/urls.py
Due: django-check

Rename CustomUserManager to UserManager
  users/managers.py
  users/models.py
  users/services.py
Due: django-check, django-check-migrations

Change custom_exception_handler to formatted_exception_handler
  api/errors.py
  conf/settings/base.py
Due: django-check

Add interesting reads
  README.md
Due: none

Add type: ignore to some lines
  api/errors.py
  api/mixins.py
  conf/settings/base.py
  setup.cfg
  users/services.py
Due: django-check

fix: correct BASE_DIR actual path
  conf/settings/base.py
Due: django-check
